<app-empleado-modal
  (updateEmpleados)="handleUpdateEmpleados()"
></app-empleado-modal>
<app-empleado-eliminar-modal
  (updateEmpleados)="handleUpdateEmpleados()"
></app-empleado-eliminar-modal>
<div class="header-table">
  <h2 style="padding: 1rem">Empleados</h2>
  <form>
    <div class="mb-3 row">
      <label
        for="table-filtering-search"
        class="col-xs-3 col-sm-auto col-form-label"
        >Buscar:</label
      >
      <div class="col-xs-3 col-sm-auto">
        <input
          id="table-filtering-search"
          class="form-control"
          placeholder="nombre o email"
          type="text"
          [formControl]="filter"
        />
      </div>
    </div>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Completo</th>
      <th *ngIf="!isMobile" scope="col">N° Documento</th>
      <th *ngIf="!isMobile" scope="col">Email</th>
      <th *ngIf="!isTablet" scope="col">Edad</th>
      <th *ngIf="!isTablet" scope="col">Antiguedad</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleadosSlice; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ empleado.nombre }} {{ empleado.apellido }}</td>
      <td *ngIf="!isMobile">{{ empleado.nroDocumento | number }}</td>
      <td *ngIf="!isMobile">{{ empleado.email }}</td>
      <td *ngIf="!isTablet">
        {{ this.calcularAnios(empleado.fechaNacimiento) }} años
      </td>
      <td *ngIf="!isTablet">
        {{ this.calcularAnios(empleado.fechaIngreso) }} años
      </td>
      <td>
        <div class="edit-buttons">
          <button (click)="openEditarEmpleado(empleado)">
            <i class="bi bi-pencil"></i>
          </button>
          <button (click)="openEliminarEmpleado(empleado.id)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="pagination p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshEmpleados()"
  >
  </ngb-pagination>

  <select
    class="form-select"
    style="width: auto"
    [(ngModel)]="pageSize"
    (ngModelChange)="refreshEmpleados()"
  >
    <option [ngValue]="3">3 items por page</option>
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
  </select>
</div>
