<app-empleado-modal
  (updateEmpleados)="handleUpdateEmpleados()"
></app-empleado-modal>
<section class="empleados-component">
  <div class="card add-button" (click)="openRegistrarEmpleado()">
    <button>Agregar Empleado</button>
    <i class="bi bi-person-add"></i>
  </div>
  <div class="card-item card">
    <h2>Empleados Totales</h2>
    <span>{{ totalEmpleados }}</span>
  </div>
  <!-- No implementado -->
  <div class="card-item card">
    <h2>Empleados Activos</h2>
    <span>-</span>
  </div>
  <div class="table-item card">
    <app-empleados-table
      (updateEmpleados)="handleUpdateEmpleados()"
      [empleados]="empleados"
    ></app-empleados-table>
  </div>
</section>
