.empleados-component {
    background-color: rgba(0, 246, 246, 0.395);
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 3% 3%;
    gap: 2rem;
}


.card {
    flex: 1;
    background-color: bisque;
    height: 40%;
}

.table-example {
    height: 70%;
    flex-basis: calc(100% - 20px);
    background-color: bisque;

}