<app-empleado-modal
  (updateEmpleados)="handleUpdateEmpleados()"
></app-empleado-modal>
<section class="empleados-component">
  <div class="card add-button" (click)="openRegistrarEmpleado()">
    <button>Agregar Empleado</button>
    <i class="bi bi-person-add"></i>
  </div>
  <div class="card-example card">
    <h2>Empleados Activos</h2>
    <h3>Semana</h3>
    <p>25</p>
  </div>
  <div class="card-example card">
    <h2>Empleados Totales</h2>
    <p>25</p>
  </div>
  <div class="table-example card">
    <app-empleados-table
      (updateEmpleados)="handleUpdateEmpleados()"
      [empleados]="empleados"
    ></app-empleados-table>
  </div>
</section>
