.empleados-component {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 3%;
    gap: 2rem;
    overflow-x: auto;
}

 .card {
    border: 1px solid #aebcd0cf;
    border-radius: 0.6rem;   
    box-shadow: 0 0 2px #aebcd0cf;
    padding: 2%;
}
 
.card-example {
    flex: 1;
    background-color: var(--dashboard-item-background-color);
    color: #fff;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        padding: 10px;
        font-size: 1.5rem;
    }
}

.table-example {
    min-height: 60vh;
    flex-basis: 100%;
    max-width: 100%;
    background-color: var(--card-component-background-color);
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--primary-color);
    color: #fff;
    height: 30vh;
    transition: var(--background-transition);

    button {
        border: none;
        background-color: transparent;
        font-family: 'Maven Pro', sans-serif;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    i {
        font-size: 4em;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--primary-color-hover);
    }
}

@media(max-width: 768px) {
    .empleados-component {
        padding: 5%;
    }

    .card-example {
        min-width: calc(100% - 20px);
        height: 10vh;
    }

    .table-example {
        min-height: 60vh;
    }
}
