<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Empleado</h4>
    <button
      type="button"
      #closebtn
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="mb-3">
        <label>Nombre</label>
        <div class="input-group">
          <input name="nombre" class="form-control" formControlName="nombre" />
        </div>
        <span
          *ngIf="nombre && nombre.touched && nombre.invalid"
          class="error-message"
          >Solo se permiten letras en el campo 'nombre'</span
        >
      </div>
      <div class="mb-3">
        <label>Apellido</label>
        <div class="input-group">
          <input
            name="apellido"
            class="form-control"
            formControlName="apellido"
          />
        </div>
        <span
          *ngIf="apellido && apellido.touched && apellido.invalid"
          class="error-message"
          >Solo se permiten letras en el campo 'apellido'</span
        >
      </div>
      <div class="mb-3">
        <label>N° Documento</label>
        <div class="input-group">
          <input
            name="nroDocumento"
            class="form-control"
            formControlName="nroDocumento"
          />
        </div>
        <span
          *ngIf="nroDocumento && nroDocumento.touched && nroDocumento.invalid"
          class="error-message"
          >Por favor ingresa un número de documento válido.</span
        >
      </div>
      <div class="mb-3">
        <label>Email</label>
        <div class="input-group">
          <input name="email" class="form-control" formControlName="email" />
        </div>
        <span
          *ngIf="email && email.touched && email.invalid"
          class="error-message"
          >Por favor ingresa un email válido.</span
        >
      </div>
      <div class="mb-3">
        <label>Fecha de Nacimiento</label>
        <div class="input-group">
          <input
            type="date"
            name="fechaNacimiento"
            class="form-control"
            formControlName="fechaNacimiento"
          />
        </div>
        <span
          *ngIf="
            fechaNacimiento &&
            fechaNacimiento.touched &&
            fechaNacimiento.invalid
          "
          class="error-message"
          >La fecha de nacimiento no puede ser posterior al día de la
          fecha.</span
        >
      </div>
      <div class="mb-3">
        <label>Fecha de Ingreso</label>
        <div class="input-group">
          <input
            type="date"
            name="fechaIngreso"
            class="form-control"
            formControlName="fechaIngreso"
          />
        </div>
        <span
          *ngIf="fechaIngreso && fechaIngreso.touched && fechaIngreso.invalid"
          class="error-message"
          >La fecha de ingreso no puede ser posterior al día de la fecha.</span
        >
      </div>

      <div class="mb-3">
        <div class="modal-buttons">
          <div>
            <button
              type="button"
              class="btn btn-danger"
              (click)="modal.close('Save click')"
            >
              Cancelar
            </button>
          </div>
          <div>
            <button
              class="input-group"
              type="submit"
              class="btn btn-primary"
              (click)="guardarEmpleado()"
            >
              Guardar
            </button>
          </div>
        </div>
        <div class="error-backend-section" *ngIf="mostrarBackendErrorMessage">
          <span class="error-message">{{ backendErrorMessage }}</span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!--     <pre>
      {{ form.value | json }}
    </pre> -->
  </div>
</ng-template>
