<aside class="sidebar" [class.sidebar-hidden]="!isSidebarVisible">
  <nav
    ngbNav
    #nav="ngbNav"
    [(activeId)]="active"
    class="nav-pills flex-column"
    orientation="vertical"
  >
    <span>MENU DE OPCIONES</span>
    <ng-container ngbNavItem="inicio">
      <button ngbNavLink [routerLink]="['/dashboard/' + '']">Inicio</button>
    </ng-container>
    <ng-container ngbNavItem="empleados">
      <button ngbNavLink [routerLink]="['/dashboard/' + 'empleados']">
        Empleados
      </button>
    </ng-container>
    <ng-container ngbNavItem="jornadas">
      <button ngbNavLink [routerLink]="['/dashboard/' + 'jornadas']">
        Jornadas
      </button>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="ms-4"></div>
</aside>
<button
  id="close-sidebar"
  [ngClass]="{ invertcolor: isSidebarVisible }"
  (click)="toggleSidebar()"
  *ngIf="windowInnerWidth <= 768"
>
  <i *ngIf="isSidebarVisible" class="bi bi-x"></i>
  <i *ngIf="!isSidebarVisible" class="bi bi-list"></i>
</button>
