.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: var(--header-component-height);
    left: 0;
    bottom: 0;
    width: var(--sidebar-component-width);
    background-color: var(--sidebar-component-background-color);
    border-right: 1px solid var(--border-color-primary);
    box-shadow: 0 0 2px var(--border-color-primary);
    transition: transform var(--sidebar-animation-time) ease;
    color: #868fa8;
    z-index: 1053;
    span {
        font-size: 0.8em;
        padding: 10px 0;
        font-weight: 800;
    }

    nav {
        margin: 16% 5%;

        button {
            color: #868fa8 !important;
            margin: 5px 5px;
            &:hover {
                color: #fff !important;
            }
        }

        .active {
            color: #fff !important;
        }
    }
}

.close-sidebar-box {
    position: fixed;
    top: 0;
    right: 4%;
    height: var(--header-component-height);;
    display: flex;
    align-items: center;
    z-index: 1055;

}

#close-sidebar {
    /// remover estilos de boton
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;

    /// posicionamiento de icono
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: #fff;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 2em;
    i {
        margin-top: 5px;
    }
}    

.sidebar-hidden {
    transform: translateX(-100%);
  }

  .backdrop {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: #2b60ff12;
    z-index: 1052;
  }

.backdrop-hidden {
    display: none;
}